.product-image-transition {
  opacity: 0;
  transform: translateX(-30%);
  transition: all 1s ease-out;
  &.show-image {
    opacity: 1;
    transform: translateX(0);
  }
}
.shop-second-gradient-transition {
  opacity: 0;
  transform: translateY(-15%);
  transition: all 1s ease-out;
  &.show-gradient {
    opacity: 1;
    transform: translateY(0);
  }
}
