@keyframes scaling-animate {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(.7);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
