@import './fonts';

html, body {
  font-family: 'THSarabunNew', 'Didot', 'DidotLTStd';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: black;
  margin: 0;
}
